Checks: >
        -*,
        bugprone-*,
          -bugprone-assignment-in-if-condition,
        clang-analyzer-*,
          -clang-analyzer-core.UndefinedBinaryOperatorResult,
          -clang-analyzer-core.uninitialized.Assign,
          -clang-analyzer-optin.cplusplus.UninitializedObject,
          -clang-analyzer-optin.performance.Padding,
          -clang-analyzer-security.FloatLoopCounter,
        cppcoreguidelines-*,
          -cppcoreguidelines-avoid-c-arrays,
          -cppcoreguidelines-avoid-do-while,
          -cppcoreguidelines-avoid-non-const-global-variables,
          -cppcoreguidelines-avoid-magic-numbers,
          -cppcoreguidelines-non-private-member-variables-in-classes,
          -cppcoreguidelines-owning-memory,
          -cppcoreguidelines-pro-bounds-constant-array-index,
          -cppcoreguidelines-pro-type-const-cast,
        misc-*,
          -misc-const-correctness,
          -misc-include-cleaner,
          -misc-no-recursion,
          -misc-non-private-member-variables-in-classes,
          -misc-use-internal-linkage
        modernize-*,
          -modernize-avoid-c-arrays,
          -modernize-macro-to-enum,
          -modernize-min-max-use-initializer-list,
          -modernize-raw-string-literal 
          -modernize-return-braced-init-list,
          -modernize-use-auto,
          -modernize-use-designated-initializers,
          -modernize-use-loop-convert,
          -modernize-use-ranges,
          -modernize-use-std-format,
          -modernize-use-std-print,
          -modernize-use-trailing-return-type,
          -modernize-use-using,
        performance-*,
          -performance-avoid-endl,
          -performance-enum-size,
        readability-*,
          -readability-braces-around-statements,
          -readability-const-return-type,
          -readability-convert-member-functions-to-static,
          -readability-else-after-return,
          -readability-function-cognitive-complexity,
          -readability-identifier-length,
          -readability-inconsistent-declaration-parameter-name,
          -readability-isolate-declaration,
          -readability-magic-numbers,
          -readability-make-member-function-const,
          -readability-named-parameter,
          -readability-redundant-declaration,
          -readability-simplify-boolean-expr,
          -readability-suspicious-call-argument,
          -readability-use-anyofallof,
CheckOptions:
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1